body { 
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'WaltographRegular'; 
    color:white;
    background-color:pink;
    font-weight: normal; 
    font-style: normal; 
 }